.header {
  width: 100%;
  padding: 92px 50px 92px 50px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-items: start;
  align-items: center;
}

.menu__list {
  display: flex;
  list-style-type: circle;
  padding-left: 2px;
  padding-right: 1px;
  gap: 32px;
}

.menu__list-item {
  list-style-position: outside;
}

.menu__list-item-without-bullit {
  list-style-type: none;
}

.menu__list-link_active {
  text-decoration: none;
}

.menu__list-link {
  color: #000000;
  font-size: 18px;
  line-height: normal;
}

.header__logo {
  grid-column: 2;
  justify-self: center;
  padding-left: 0px;
}

.logo {
  width: 148px;
  height: 105px;
}

.link {
  text-decoration: none;
  border-bottom: 1px #000000 solid;
}

.contacts {
  color: #000;
  font-size: 18px;
  line-height: 24.3px;
  list-style: none;
}

.header__contacts {
  justify-self: end;
}

.contacts__address {
  font-style: normal;
  max-width: 240px;
}

.content-section {
  margin: auto;
}

.cover {
  margin: 0;
  min-width: 1440px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6000000238418579);
  position: absolute;
  left: 0;
  top: 0;
}

.cover-title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding-left: 49px;
  padding-top: 166px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.aligned-text {
  position: relative;
  z-index: 1;
  align-items: center;
  display: block;
  line-height: 115%;
}

.aligned-text-center {
  text-align: center;
  line-height: 100%;
}

.step-to-leftside {
  margin-right: 30px;
}

.aligned-text-right {
  text-align: right;
  line-height: 100%;
}

.dubl-spacing {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 135px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.cover__description-text {
  color: rgb(255, 255, 255);
  display: inline;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  word-spacing: 18px;
  padding-right: 80px;
}

.bet-button {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 257px;
  font-family: Raleway, sans-serif;
}

.lots {
  padding: 180px 50px 0px 50px;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots_heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 40px;
}

.card_link {
  text-decoration: none;
}

.card {
  min-height: 450px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  position: relative;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
  align-self: start;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-text {
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
  align-self: end;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots-look-more-link {
  color: #000;
  font-size: 20px;
  line-height: normal;
  margin-left: 40px;
}

.about {
  padding: 180px 50px 5px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.about-column {
  justify-content: center;
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.logo-column {
  display: flex;
  justify-content: center;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-information {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 104px;
  padding-bottom: 70px;
}

.about-text {
  max-width: 885px;
  color: #000;
  font-size: 20px;
}

.footer {
  max-width: 1340px;
  width: 100%;
  padding-top: 175px;
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer__contacts-list {
  grid-column: 1;
  align-self: start;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  max-width: 388px;
  font-size: 18px;
  list-style-type: none;
  text-align: center;
  grid-column: 2;
  padding-left: 60px;
  justify-self: center;
}

.footer-social-list {
  display: flex;
  grid-column: 3;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
}

.footer-nav {
  grid-column: 2;
  align-items: end;
}
